*{
    margin:0%;
}

html{
    height:100%;
    width:100%;
    background: #e7e7e7;
    overflow-y: scroll;
    margin-bottom: 1px;
}

html, body {
    overflow: auto;
    height: 100%;
}


.wrapper {
  max-width: 100%;
  margin: 0 auto;
  height:auto;
  width:100%;
}

header {
    width:100%;
    height:100px;
    background: transparent;
    position: fixed;
    z-index: 10;
}
.header_top {
    width:100%;
    height:30%;
    background: #ed6f1e;
    position: fixed;
}
.header1{
    width:100%;
    height:30%;
    background:transparent;
    position: relative;
    border-bottom:solid 2px #ed6f1e;
    background: #e7e7e7;
    box-sizing: border-box;
    z-index: 400;
}
    .header2{
        position: fixed;
        height:30px;
        background: transparent;
        float: right;
    }
    .header3{
        width:auto;
        height:100%;
        float: right;
        background: transparent;
    }
    .TOPname{
        font-size: 70%;
        margin: 50% 0 50% 0;
        background: transparent;
    }

.header{
    width:80%;
    height:70px;
    margin:0 0 0 auto;
    background:transparent;
    position: relative;
    z-index: 10;
}
    .date_text{
        float: right;
        font-size: 100%;
    }

    .header4{
        display: flex;
        position: relative;
        align-items: center;
        height: 100%;
        background: #eee;
        border-bottom:solid 1px #ababab;
        box-sizing: border-box;
        z-index: 10;
    }

    .header_text{
        margin:50% 0 50% 3% ;
        font-size: calc(25px + .8vw);
        background: transparent;
        color:rgb(4, 20, 71);
    }

.container {
  display: flex;
  height:100%;
  width:100%;
}

.menu {
    background: rgb(255, 255, 255);
    margin-top:30px;
    width: 20%;
    height:100%;
    position:fixed;
    border-right:solid 1px #ABABAB; 
    box-sizing: border-box;
}

.menu_box1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:7px 5% 0 5%;
    height: 65px;
    background: linear-gradient(white,rgb(236, 236, 236));
    border-radius: 0px 5px 5px 5px;
    border:solid 5px rgb(218, 218, 218);
}

.menu_box1:hover{
    background: linear-gradient(rgb(250, 250,250),rgb(231, 231, 231));
    border:solid 5px rgb(212, 212, 212);
}

@keyframes fadeIn { /*animetion-nameで設定した値を書く*/

    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
  
}

.menu_title{
    position: relative;
    color:rgb(16, 39, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: transparent;
}

.menu_title .title_text{
    width: auto;
    display: inline;
    background: transparent;
    font-size: calc(21px + .8vw);
    border-bottom:solid 2px #ed6f1e;
}


.menu_a{
    font-size: 100%;
    font-weight: bold;
    color:rgb(16, 39, 112);
}


a:link,a:visited,a:active,a:hover{
    text-decoration:none;
    color:rgb(16, 39, 112);
}

a .result_element{
    color:tomato;
    font-weight: bolder;
}

a:hover .result_element{
    text-decoration:none;
    color:#ffa600;
    font-weight: bolder;
}

.details {
    background:  transparent;
    width: 80%;
    height:100%;
    margin:100px 0 0 auto;

}

.details1{
    background: #e7e7e7;
    width:75%;
    height:100%;
    float: left;
}

.hide_result{
    background: #e7e7e7;
    height:50px;
    width:60%;
    position: fixed;
    margin-top:-30px;
    z-index: 4;
}

.details2{
    width:25%;
    height: 100%;
    background: #cbcbcb;
    float: left;
}


@media (max-width: 100px){
    *{
        margin:0%;
    }
    
    html{
        height:8000px;
        width:100%;
        background: #e7e7e7;
        overflow-y: scroll;
        
    }
    
    .wrapper {
      max-width: 100%;
      margin: 0 auto;
      height:auto;
      width:100%;
      
    }
    
    header {
        width:100%;
        height:70px;
        background: blue;
        position: fixed;
        z-index: 10;
    }
    .header1{
        width:100%;
        height:100%;
        background:red;
        position: relative;
        border-bottom:solid 2px transparent;
        box-sizing: border-box;
        z-index: 400;
        
    }
        .header2{
            position: absolute;
            height:100%;
            width:100%;
            background: gainsboro;        
            text-align: center;
            padding:20px 0 0 0 ;
            box-sizing:border-box;
        }
        .TOPname{
            font-size: 100%;
            background: beige;
            color: black;
            text-align: center;
            position: relative;
        }
    
    .header{
        width:100%;
        height:140px;
        margin:0 0 0 auto;
        background:blue;
        position: relative;
        z-index: 10;
        
    }
        .date_text{
            float: right;
            font-size: 100%;
        }
    
        .header4{
            display: flex;
            position: fixed;
            align-items: center;
            height: 60px;
            width: 100%;
            margin:80px 0 0 0;
            background: yellow;
            border-bottom:solid 1px transparent;
            box-sizing: border-box;
            z-index: 10;
            
        }
    
        .header_text{
            margin:50% 0 50% 3% ;
            font-size: 200%;
            background: transparent;
            color:#000;
            padding:0 0 0 50px;
        }
    
    .container {
      display: flex;
      height:100%;
      width:100%;
      display: none!important;
    }
    
    .menu {
        background: gold;
        margin:80px 5% 0 5%;
        width: 90%;
        height:60px;
        position:fixed;
        border-right:solid 1px transparent; 
        box-sizing: border-box;
        z-index: 500;
    }
    
    .menu_box1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 0 0 5%;
        height: 50px;
        width:25%;
        float: left;
        /* background: linear-gradient(white,rgb(236, 236, 236)); */
        background: transparent;
        border-radius: 0px 5px 5px 5px;
        border:solid 5px transparent;
    }
    
    .menu_box1:hover{
        background: linear-gradient(rgb(250, 250,250),rgb(231, 231, 231));
        border:solid 5px transparent;
    }
    
    .menu_title{
        position: relative;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        background: transparent;
    }

    #humberger {
        margin:10px 0 0 10px;
        position: fixed;
        height: 40px;
        width: 40px;
        display: inline-block;
        box-sizing: border-box;
      }
      #humberger div {
        position: absolute;
        left: 0;
        height: 6px;
        width: 40px;
        background-color: #FFF;
        border-radius: 2px;
        display: inline-block;
        box-sizing: border-box;
      }
      #humberger div:nth-of-type(1) {
        top: 0;
      }
      #humberger div:nth-of-type(2) {
        top: 17px;
      }
      #humberger div:nth-of-type(3) {
        bottom: 0;
      }

    
    .menu_title .title_text{
        width: auto;
        display: inline;
        background: transparent;
        font-size: 200%;
        border-bottom:solid 2px transparent;
    }
    
    
    .menu_a{
        font-size: 100%;
        font-weight: bold;
        color:transparent;
    }
    
    
    a:link,a:visited,a:active,a:hover{
        text-decoration:none;
        color:transparent;
    }
    
    a .result_element{
        color:transparent;
        font-weight: bolder;
    }
    
    a:hover .result_element{
        text-decoration:none;
        color:transparent;
        font-weight: bolder;
    }
    
    .details {
        background:  transparent;
        width: 80%;
        height:100%;
        margin:100px 0 0 auto;
    }
    
    .details1{
        background: transparreent;
        width:75%;
        height:100%;
        float: left;
    }
    
    .details2{
        width:25%;
        height: 100%;
        background: transparent;
        float: left;
    }

}

.details_top{
    background: transparent;
    width:100%;
    height:100%;
    float: left;
}

  /*///////////////////sesarch/////////////////////*/

.search_form_box{
    background:#dedede;
    height:170px;
    width:100%;
    border-bottom: solid 1px #CDCDCD;
    box-sizing: border-box;
    z-index: 400;
    position: relative;
}

.S_box1{
    display: inline-block;
    width:25%;
    margin:2px 0 0 10px;
    background: transparent;
}

.S_box_in{
    height :90%;
    background: transparent;
    max-width: 500px;

}

.S_time_in{
    display: inline;
}

.S_box1_form{
    height:10px;
}

.S_button{
    width:300px;
}

.details1 .S_box_in_red{
    height :1.7em;
    width:60%;
    margin:0 50% 0 auto;
    background: transparent;
    position: fixed;
    border-bottom:dotted 2px #ababab;
}

.result_box{
    display: block;
    height:100%;
    background: #e7e7e7;
    padding:170px 0 0 0;
}

.result_box_main{
    display: block;
    height:100%;
    background: #e7e7e7;
    margin-bottom:100px;
}

.result_counter{
    text-align: left;
    height:100%;
    width:20%;
    background: #cbcbcb;
    position: fixed;
    box-sizing: border-box;
    padding: 5px 2% 5px 2%; 
    border-left:solid 1px #ABABAB; 
    box-sizing: border-box;
    /* pointer-events: none; */
}

.R_count_text{
    display: inline-block;
    background: transparent;
    margin:10px auto;
    width:90%;
    height:auto;
    font-size: 16px;
}

ul{
    padding: 0;
    position: relative;
}
  
ul li{
    margin-top:10px;
    color: black;
    border-left: solid 8px #ed6f1e;/*左側の線*/
    background: whitesmoke;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none!important;
    widows: 50%;
}

.search_count{
    display: inline-block;
    height:2em;
    width: 40%;
    max-width: 100px;
    background: tomato;
}

.search_count_box{
    display: inline-block;
    height:2em;
    width:50%;
    background: turquoise;
}


table {
    width:100%;
    border-collapse: collapse;
    border: solid 2px  #ed6f1e;/*表全体を線で囲う*/
    text-align: center;
}

table td {
    border: dashed 1px  #ed6f1e;/**/
    padding: 10px;/*上下左右10pxずつ*/
    /*破線 1px オレンジ*/
    background: whitesmoke;
    cursor: text;
}

table tr{
    cursor: text;
}

table th{
    background: #f5ebe5;
    border: solid 1px  #ed6f1e;/**/
    font-weight:normal;
    border-top: double 3px #ed6f1e;
    cursor: text;
}

table .td_error{
    background:rgb(255, 147, 147);
}

td#cnt_bad:hover + #neko{
    opacity: 1;
}
#neko{
    opacity: 0;
    transition: 1.0s ;
    height:80%;
    width:80%;
}


table .td_num{
    text-align: right;
    width:50%;
    text-align: center;
}

.result_table{
    height:auto;
    width:55%;
    padding-bottom: 100px;
    background: transparent;
    position: absolute;
    margin-left:2.5%;
    z-index: 0;
    overflow:hidden;
    margin-bottom:10px;
    /* border-bottom:solid 10px #325fb3; */
}

.nav-links{
    height:40px;
    width:100%;
    background: transparent;
    margin:0 auto;
    padding-bottom: 30px;
    display: table;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.page_box{
    height:calc(30px + auto);
    width:calc(30px + auto);
    background: white;
    border: solid 1px transparent;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    display:inline-block;
    margin-right:5px;
    line-height: 15px;
    text-align: center;
    font-size: calc(10px + .5vw);
}


.nav-links {
    text-align: center;
  }
.nav-links li {
    display: inline-block;
}

 .detail_link_current{
    height:calc(30px + auto);
    width:calc(30px + auto);
    background: #ffb171;
    border: solid 1px transparent;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    display:inline-block;
    margin-right:5px;
    line-height: 15px;
    text-align: center;
    font-size: calc(10px + .5vw);
}

.result_table_dai{
    height:50px;
    width:55%;
    border-bottom:solid 3px orange;
    position: fixed;
    z-index:5;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    font-size: 18px;
    background-color: #ffedc6;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #fff3da), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #fff3da),color-stop(.75, #fff3da), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 14px 14px;
    margin-left:2.5%;
}

.dai0{
    height:100%;
    width:10%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    border-right: dotted 1px #dedede;
    box-sizing: border-box;
    font-size: calc(10px + .5vw);
}

.dai1{
    height:100%;
    width:30%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    border-right: dotted 1px  #dedede;
    box-sizing: border-box;
    font-size: calc(10px + .5vw);
}

.dai2{
    height:100%;
    width:20%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    border-right: dotted 1px  #dedede;
    box-sizing: border-box;
    font-size: calc(10px + .5vw);
}

.dai3{
    height:100%;
    width:25%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    border-right: dotted 1px  #dedede;
    box-sizing: border-box;
    font-size: calc(10px + .5vw);
}

.dai4{
    height:100%;
    width:15%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    font-size: calc(10px + .5vw);
}

/*////probe///*/
.dai0_probe{
    height:100%;
    width:15%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    border-right: dotted 1px #dedede;
    box-sizing: border-box;
    font-size: calc(10px + .5vw);
}

.dai1_probe{
    height:100%;
    width:30%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    border-right: dotted 1px  #dedede;
    box-sizing: border-box;
    font-size: calc(10px + .5vw);
}

.dai2_probe{
    height:100%;
    width:30%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    border-right: dotted 1px  #dedede;
    box-sizing: border-box;
    font-size: calc(10px + .5vw);
}

.dai3_probe{
    height:100%;
    width:25%;
    float: left;
    background: transparent;
    text-align: center;
    line-height:50px;
    box-sizing: border-box;
    font-size: calc(10px + .5vw);
}

.result_elementbox .dai0_probe{
    height:100%;
    line-height:40px;
    text-align: center;
}
.result_elementbox .dai1_probe{
    height:100%;
    line-height:40px;   /*.result_elementのheightと同じ値にする(下3つも)*/
    color:000;
    text-align: center;
}
.result_elementbox .dai2_probe{
    height:100%;
    line-height:40px;
    color:000;
    text-align: center;
}
.result_elementbox .dai3_probe{
    height:100%;
    line-height:40px;
    text-align: center;
}

/*/////probe//////*/

.result_elementbox {
    position: relative;
    height:40px;
    width:100%;
    background: transparent;
    margin-top: 50px;
    border-top:solid 1px transparent;
    box-sizing: border-box;
}

.result_element{
    position: relative;
    height:40px;
    width:100%;
    background: #fff;
    border-bottom:solid 1px #E2E2E2;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;

}

.result_element .dai4{
    font-weight: bolder;
    color: #385723;;
}

.result_element .bad {
    font-weight: bolder;
    color: red;
}

.result_element:hover{
    background: #f8f9fa;
}

.result_elementbox .dai0{
    height:100%;
    line-height:40px;
    text-align: center;
}
.result_elementbox .dai1{
    height:100%;
    line-height:40px;   /*.result_elementのheightと同じ値にする(下3つも)*/
    color:000;
    text-align: center;
}
.result_elementbox .dai2{
    height:100%;
    line-height:40px;
    color:000;
    text-align: center;
}
.result_elementbox .dai3{
    height:100%;
    line-height:40px;
    text-align: center;
}

.result_elementbox .dai4{
    height:100%;
    line-height:40px;
    text-align: center;
}

.dai4 .font_red{
    height:100%;
    color:red;
    line-height:40px;
    text-align: center;
}

#ON{
    height:100%;
    color:red;
    line-height:40px;
    text-align: center;
}

.NG_color {
    color: blue;
}

/*///////////////////TOP////////////////////////*/

/*///////////////////////night_mode/////////////////////////*/

/* @media (prefers-color-scheme: dark) {
        html{
            background: #e7e7e7;
    }
    .header_top {
            background: #ed6f1e;
    }
    .header1{
        border-bottom:solid 2px #ed6f1e;
        background: #121212;
    }
    .header4{
        background: #313131;
        border-bottom:solid 1px #181818;
    }

    .header_text{
        color:rgb(233, 233, 233);
    }
    .menu {
        background: #292929;
        border-right:solid 1px #1d1d1d; 
    }
    
    .menu_box1{
        background: linear-gradient(#232323,#131313);
        border:solid 1px #ed591e;
    }
    
    .menu_box1:hover{
        background: linear-gradient(rgb(63, 63, 63),rgb(46, 46, 46));
        border:solid 1px #ed591e;
    }
    
    .menu_title{
        color:rgb(224, 224, 224);
    }
    
    .menu_title .title_text{
        border-bottom:solid 2px #ed6f1e;
    }
    
    .menu_a{
        color:rgb(233, 233, 233);
    }
    
    a:link,a:visited,a:active,a:hover{
        color:rgb(228, 228, 228);
    }
    
    .details {
        background:  #3f3f3f;
    }
    
    .details1{
        background: #747474;
    }
    
    .details2{
        background: #979797;
    }
    
    .search_form_box{
        background:#4d4d4d;
        border-bottom: solid 1px #242424;
        color:white;
    }

    .details1 .S_box_in_red{
        border-bottom:dotted 2px #ababab;
    }

    .result_box{
        background: #707070;
    }

    .result_counter{
        background: #1d1d1d;
        border-left:solid 1px #222222; 
    }

    ul li{
        color: rgb(255, 255, 255);
        border-left: solid 8px #929292;
        background: #414141;
    }

    .search_count{
        background: tomato;
    }

    .search_count_box{
        background: turquoise;
    }

    table {
        border: solid 2px  #dadada;
        color:white;
    }

    table td {
        border: dashed 1px  #e6e6e6;
        background: #636363;
    }
    table .td_error{
        background:rgb(179, 40, 40);
    }
    .top_details{
        background: #000000;
    }

}*/

/*///////////////////detail////////////////////*/

.title_detail_c{
    background: transparent;
    font-size: 25px;
    height:100%;
    display: flex;
    align-items: center;
    margin-left:60px;
}

.detail_header{
    background: #fff5e0;
    position: fixed;
    width:80%;
    height:50px;
    z-index: 500;
    border-radius: 0 0 10px 10px;
    border-bottom: solid 2px orange;
}


#mark_detail {
    margin:11px 0 0 16px;
    position: fixed;
    height: 27px;
    width: 27px;
    display: inline-block;
    box-sizing: border-box;
    background: transparent;
  }
  #mark_detail div {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #e9bc40;
    display: inline-block;
    box-sizing: border-box;
  }
  #mark_detail div:nth-of-type(1) {
    position: absolute;
    height:6px;
    width:6px;
    background: transparent;
    border: solid 2px #e9bc40;
    top:-1px;
  }
  #mark_detail div:nth-of-type(2) {
    top: 0;
    width:70%;
    margin-left: 8px;
  }
  #mark_detail div:nth-of-type(3) {
    top: 8px;
  }
  #mark_detail div:nth-of-type(4) {
    bottom: 8px;
  }
  #mark_detail div:nth-of-type(5) {
    bottom: 0;
  }

  .waku{
    margin:5px 0 0 10px;
    position: absolute;
    height:40px;
    width:40px;
    background: transparent;
    box-sizing: border-box;
    border-radius: 0 10px 0 10px;
    border: solid 2px #e9bc40;
}

.display_picture{
    height:70%;
    width:30%;
    background: transparent;
    margin:0 0 0 42%;
    pointer-events: none;
    position: fixed;
}

.popup_picture{
    height:100%;
    width:80%;
    background: transparent;
    margin:0 auto;
    position: relative;
}


.picture_1{
    width:85%;
    height: auto;
    /* pointer-events: none; */
    position: relative;
    margin-top: 30px;
    z-index: 60;
}

.picture_2{
    width:85%;
    height:auto;
    /* pointer-events: none; */
    z-index: 60;
    position: relative;
}

.scroll_inner::-webkit-scrollbar {
    width: 7px;
    overflow: hidden;
  }
  
.scroll_inner::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,#664951,#664951);
    overflow: hidden;
    border-radius: 3px;
}

.scroll_inner::-webkit-scrollbar-track {
    overflow: hidden;
    background: rgba(100,100,100, .5);
}

.popup_detail .scroll_inner{
    margin-top:97px;
    width:100%;
    height:calc(100% - 100px);
    overflow: auto;
}

.popup{
    height:100%;
    width:80%;
    background: transparent;
    position: fixed;
    z-index: 1000;
    margin:100px 0 0 20%;
}
.popup_in{
    height:100%;
    width:80%;
    background: #4e380f;
    opacity: 0.5;
    position: fixed;
}
.popup_detail{
    display: block;
    height:83%;
    width:72%;
    background: #fff;
    position: fixed;
    border-radius: 20px;
    margin:30px 0 4% 4%;
    /* overflow-y:visible; */
    overflow-x:hidden ;
}

.header_detali{
    height:70px;
    width: 100%;
    box-sizing: border-box;
    border-bottom:solid 2px orange;
    background-color: #ffedc6;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #fff3da), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #fff3da),color-stop(.75, #fff3da), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 14px 14px;
    border-radius: 20px 20px 0 0 ;
}

.header_de_title{
    height:100%;
    width: calc(100% - 50pt);
    float: left;
    margin-top:0;
    box-sizing: border-box;
    display: table;
}

.header_de_close{
    position: absolute;
    height:70px;
    width: 70px;
    margin:0 0 0 calc(100% - 70px);
    background: transparent;
    float: left;
}

.triangle_close{
    width: 100%;
    height:100%;
    background:tomato;
    border-radius: 40px 20px 40px 40px;
}

.triangle_close a{
    color:white;
    font-size: 40px;
    overflow: hidden;
    position: absolute;
    background: transparent;
    margin:5% 0 0 27% ;
}

#detail_title{
    display: inline;
    display: table-cell;
    vertical-align: middle;
    font-size: calc(19px + .8vw);
    color:black;
    line-height:1.1em;
}

.popup_ENV{
    height:calc(100px + auto);
    width:72%;
    background: #EFEFEF;
    position: fixed;
    border-radius: 20px 20px 0 0 ;
    z-index: 60;
}

#env_text{
    margin-top:3px;
    font-size: calc(8px + .7vw);
}

.pop_ENV_text{
    height:100%;
    width:90%;
    position: relative;
    margin:0 auto ;
    background: transparent;
}

.details_search{
    position: fixed;
}

.search_details{
    display: block;
    height:30px;
    width:95%;
    background: red;
    margin-top:0 auto;
}

summary{
    background: #CDCDCD;
    display: table;
    width:200%;
    outline:none;
}

details[open] summary{
    background: red;
    width:100%;
}

#search_details{
    position: fixed;
}

/* details{
    position: sticky ;
} */

.parts_name{
    height:30px;
    width:30px;
    background: red;
    margin:10px;
    position: relative;
}

.inspection_name1{
    height:30px;
    width:30px;
    background: red;
    margin:10px;
}

.inspection_name2{
    height:30px;
    width:30px;
    background: red;
    margin:10px;
}

.popup_left{
    background: transparent;
    float:left;
    height:calc(100% - 30px);
    width:58%;
    margin-top: 30px;
}

.popup_table_field{
    height:auto;
    width:100%;
    background: transparent;
    pointer-events: none;
    position: relative;
}

.popup_inspection_name{
    height:30px;
    width:90%;
    background: transparent;
    position: relative;
    margin:0 auto;
    font-size: calc(15px + .4vw);
    white-space: nowrap;
}

.popup_table{
    height:auto;
    width:90%;
    background: transparent;
    position: relative;
    margin:0 auto;
    min-width: 100%;
    display:  inline-block ;
}

.popup_table table {
    height:auto;
    width:90%;
    border-collapse: collapse;
    border: solid 2px orange;/*表全体を線で囲う*/
    text-align: center;
    position: relative;
    margin:0 auto;
    cursor: help;
}

table.tttbe{
    font-size: calc(1px + .8vw);
}

.popup_table  table th{
    border: dashed 1px orange;/**/
    /*破線 1px オレンジ*/
    background: #fbe5d6;
}

.popup_table table tr:nth-child(even) td{
    background: white;
}

.popup_table table tr td:nth-child(1){
    width:20%;
}

/* .popup_table td:nth-child(2){
    font-weight: bolder;
    color: #385723;
}


.popup_table .font_red td:nth-child(2){
    color:red;
} */

.top_details{
    height:100px;
    width:200px;
    position: relative;
    background: #a01616;
}

div.slide-show {
    width: 80%; /* スライドショーの幅 */
    height:200px;
    max-width: 100%; /* スマホで表示が欠けないように */
    margin: 10px auto; /* 中央揃え */
    position: absolute;
    margin-top:0;
}
 
.slide-show img { 
    animation: show 30s infinite; /* 12秒のスライドショーを繰り返し */
    max-width: 100%;
    height: 100%;
    width:100%;
    object-fit:cover;
    opacity: 0;
    position: absolute; /* 画像を重ねて表示 */
    left: 0;
    top: 0;
}
 
@keyframes show {
    0% {opacity: 0}
    17% {opacity: 1}
    33% {opacity: 1}
    50% {opacity: 0}
}
 
.slide-show img:nth-of-type(1) {
    position: relative;
}
 
.slide-show img:nth-of-type(2) {
    animation-delay: 0s;
}
 
.slide-show img:nth-of-type(3) {
    animation-delay: 10s;
}
 
.slide-show img:nth-of-type(4) {
    animation-delay: 20s;
}

button {
    pointer-events: fill;
}

.harotore{
    height:auto;
    width:100%;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.cp_iptxt {
	position: relative;
    width: 100%;
}

.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 60%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 2px solid #ed6f1e;
	border-radius: 4px;
    outline: none;
    float: left;
}

.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}

.cp_iptxt input[type=button] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 38%;
    margin: 8px 0;
    margin-left: 2%;
	padding: 0.3em;
	transition: 0.3s;
	border: 2px solid #ed6f1e;
	border-radius: 4px;
    outline: none;
    float: left;
    background: #ed6f1e;
    color: white;
    font-weight:bolder;
}

.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}


#canvas{
    display: block;
}

.canvas-container{
    background-color:blue;
    height:auto;
    width:100%;
}

.chart_list{
    position: relative;
    font-size: calc(8px + .6vw);
    width: 100%;
    height:100%;
    float:right;
}

.canvas-box-photo{
    background-color:red;
    height:calc(50px - 1vw);
    width:calc(100% / 3);
    border-radius: 20px 20px 20px 20px;
    position: relative;
    float: left;
}
.canvas-box-probe{
    background-color:red;
    height:calc(50px - 1vw);
    width:50%;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    float: left;
}

.canvas-box-photo:nth-of-type(2){background-color: #f8407e;}
.canvas-box-photo:nth-of-type(3){background-color: #f86d3f;}
.canvas-box-photo:nth-of-type(4){background-color: #9b2475;}
.canvas-box-probe:nth-of-type(2){background-color: #99cc00;}
.canvas-box-probe:nth-of-type(3){background-color: #00b0f0;}

.canvas_text{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: white;
}

.canvas-container-photo{
    background-color:#dedede;
    height:auto;
    width: 58%;
    float: left;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    border: dashed 2px #afbec3;
}

.canvas-container-probe{
    background-color:#dedede;
    height:auto;
    width: 38%;
    float: left;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    border: dashed 2px #afbec3;
}

.plot_area{
    height: auto;
    width: 100%;
    background-color: white;
    margin-top: 100px;
    position: relative;
}

#plot_resultdata{
    position: relative;
    width:100%;
    height: 500px;
    background-color: transparent;
}

#result_title_plot{
    font-size: 25px;
    padding-top:5px;
    margin:0 0 0 20px;
}